phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.bionj
phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.boottrees
phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.ckp.gz
phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.contree
phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.iqtree
phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.log
phylogenetics/data/alignment.pep.fa.clustalo.aln-cln.mldist